################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SFMLSample/x64/Release/Emiriusu.tlog
/SFMLSample/x64/Release
/x64/Release
